/build/
**/bin/
**/obj/
**/__pycache__/
*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/
**/node_modules/
/logs/
/captures/
/mods/
/simoder/
/.vs/
*.package
*.pdb
*.ilk
*.obj
*.user
*.suo
*.VC.db
*.VC.VC.opendb
